body {
  background-color: #000;
  background-image: url("../images/bg-top.png"), url("../images/bg-bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}
aside, #extra {
  font-size: 11px;
}
a {
  text-decoration: none;
}
#wrap {
  width: 960px;
  margin: auto;
}
nav{
  width: 200px;
}
#content {
  float: right;
  width: 760px;
  background-color: #d4deeb;
}
#content > #top {
  background-color: #FFF;
}
#content > #top > h2 {
  padding-bottom: 10px;
  margin-bottom: 6px;
  background-image: url("../images/bodybg.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
#tabstrip {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0px;
}
#tabstrip > .tab {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e7eff9;
  height: 23px;
  display: inline-block;
  padding: 8px 52px 0px 52px;
  margin: 0 0 2px 1px;
  box-shadow: -1px -1px 2px #acbdd5;
}
#tabstrip > #active {
  background-color: #FFF;
  box-shadow: -1px -1px 2px #acbdd5;
  height: 30px;
  margin-bottom: 0;
}
#tabstrip > .tab.top {
  height: 23px;
}
#tabstrip > .tab.bottom {
  height: 27px;
}
#tabstrip > .tab.top:nth-child(1){
  border-top-left-radius: 15px;
}
#tabstrip > .tab.bottom:nth-child(5){
  border-top-left-radius: 15px;
}
#innerwrap {
  background-color: #FFF;
  width: 740px;
  margin: auto;
  padding-top: 1px;
  z-index: 1;
}
#extra, aside {
  float: right;
  border: 1px solid #000;
  margin: 8px;
  padding: 5px;
}
#extra > img {
  display: block;
  margin: auto;
}
#extra > span {
  display: block;
  margin-top: 8px;
  width: 99%;
  margin-left: 5px;
}
#navSub {
  background-color: #36223E;
}